<div class="container my-5 d-flex align-items-center">
    <div class="col-md-6">
        <h2>Здесь могла быть ваша реклама</h2>
        <p>Сайт информационно-рекламного агентства для автобизнеса Ставрополя РИА "АРС"</p>
        <a class="btn btn-dark me-2" href="#">Просмотр</a>
        <a class="btn btn-outline-dark" href="#">Искать</a>
    </div>
    <div class="col-md-6">
        <img src="~/images/car.jpg" class="img-fluid rounded" alt="Реклама">
    </div>
</div>
